.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
#loading-img {
background: url("<?php echo base_url() ?>asset/images/4.gif") center center no-repeat;
height: 100%;
z-index: 20;
}

.overlay {
    background: #e9e9e9;
    position: absolute;
    top: 0;
    display: none;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    z-index:100;
}

.row{
    margin-left:0px;
    margin-right:0px;
}

#wrapper {
    padding-left: 50px;
    transition: all .4s ease 0s;
    height: 100%
}

#sidebar-wrapper {
    margin-left: -150px;
    left: 20px;
    width: 200px;
    background: #222;
    position: fixed;
    height: 100%;
    z-index: 10000;
    transition: all .4s ease 0s;
}

.sidebar-nav {
    display: block;
    float: left;
    width: 200px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.content{
  margin-top: 21px;
}
#page-content-wrapper {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    height: auto;
    position: relative;
overflow-x: hidden;
}
#wrapper.active ,  #wrapper.active footer{
    padding-left: 150px;
}
#wrapper.active #sidebar-wrapper {
    left: 150px;
}
#wrapper.active .navbar-default{
    padding-left: 4%;
}
#wrapper.active .content{
    padding-left: 4%;
}
#wrapper.active footer.navbar-default{
  padding-left: 250px;
}
#page-content-wrapper {
  width: 100%;
}

#sidebar_menu li a, .sidebar-nav li a {
    color: #999;
    display: block;
    float: left;
    text-decoration: none;
    width: 200px;
    background: #252525;
    border-top: 1px solid #373737;
    border-bottom: 1px solid #1A1A1A;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -o-transition: background .5s;
    -ms-transition: background .5s;
    transition: background .5s;
}
.sidebar_name {
    padding-top: 25px;
    color: #fff;
    opacity: .7;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover, li .sidebar-nav li .active a{
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}


.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}


.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#main_icon
{
    float:right;
   padding-right: 30px;
   padding-top:20px;
}
.sub_icon
{
    float:right;
   padding-right: 30px;
   padding-top:10px;
}
.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

@media (max-width:767px) {
    #wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
}
#sidebar-wrapper {
    left: 20px;
}
#wrapper.active {
    padding-left: 150px;
}
#wrapper.active #sidebar-wrapper {
    left: 150px;
    width: 200px;
    transition: all .4s ease 0s;
}
}



.navbar-login
{
    width: 305px;
    padding: 10px 0 0 0;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 70px;
}
  .answered{
    border: 2px #18bc9c solid;
    background-color: #18bc9c;
    border-radius: 25px;
    color: #fff;

  }
  .unanswered{
    border: 2px #ddd solid;
    border-radius: 25px;
  }
  .hesitate{
    background-color: #f39c12;
    border: 2px #f39c12 solid;
    border-radius: 25px;
    color: #fff;
  }




  .sidebar-nav li.active{
        color: #fff;
        background: rgba(255,255,255,0.2);
        text-decoration: none;
      }
  h5,h4{
    margin-top: 2px;
    margin-bottom: 3px;
  }
